/* your code */

thead{
	background-color : #215a8e;
	color : white;

}
table {
  border-spacing :0;
	border-collapse : separate;
	border-radius : 1em;
	border : 1px solid #add;
	overflow: hidden;
	font-size : 0.5em;
	font-family : sans-serif;
	width : 100%;
}
th,td {
  font-size: 14px;
padding : 8px, 5px;
	text-align : left;
}
tbody tr:nth-child(odd){
	background-color : #fff;
}
tbody tr:nth-child(even){
	background-color : #ddd;
}

